.img {
  width: 10rem;
  height: 10rem;
  background-color: black;
  border-radius: 50%;
  h1 {
    color: white;
  }
}

.allergy__header {
  background-color: rgb(212, 57, 57);
  color: white;
  border-radius: 0.25rem;
}
