<div class="p-2 d-flex flex-column gap-2">
  <div class="img d-flex align-items-center justify-content-center align-self-center">
    <h1 nz-typography>{{ getProfileType() }}</h1>
  </div>
  <div class="d-flex flex-column">
    <span nz-typography>Patient ID</span>
    <div class="d-flex gap-2">
      <nz-input-number
        [(ngModel)]="patientId"
        (keydown)="handleGetPatientData($event)"
        class="w-100"
        nzMin="0"
      />
      <button nz-button nzType="primary" nzShape="circle" (click)="getPatientData()">
        <nz-icon nzType="search" />
      </button>
    </div>
  </div>
  <div class="d-flex flex-column">
    <span nz-typography>Patient Name</span>
    <h5 nz-typography class="mt-0">
      <strong>{{ patientData?.pname }}</strong>
    </h5>
    <span nz-typography>Age</span>
    <h5 nz-typography class="mt-0">
      <strong>{{ patientData?.age }}</strong>
    </h5>
    <span nz-typography>Gender:</span>
    <h5 nz-typography class="mt-0">
      <strong>{{ patientData?.gender }}</strong>
    </h5>
  </div>

  <div class="d-flex flex-column">
    <h5 nz-typography class="mt-0 allergy__header p-2">
      <strong>Allergies</strong>
    </h5>
    @if(patientAllergies.length === 0 && patientData){
    <nz-alert nzType="success" nzMessage="No Allergies Found" nzShowIcon></nz-alert>
    } @if(patientAllergies.length > 0){ @for (allergy of patientAllergies; track $index) {
    <nz-alert nzType="warning" [nzMessage]="allergy"></nz-alert>
    } }
  </div>
</div>
